{
    "auth": {
        "AUTH0_DOMAIN": <YOUR AUTH0 DOMAIN NAME>,
        "AUTH0_CLIENT_ID": <YOUR AUTH0 CLIENT ID,
        "AUTH0_CLIENT_SECRET": <YOUR AUTH0 CLIENT SECRET>,
        "SESSION_SECRET": <AUTH0 SESSION SECRET>,
        "AUTH0_CONNECTION": ""
    },
    "docs": {
        "DEFAULT_DOCS_DIRECTORY": <DOCUMENTATION ROOT DIRECTORY>
    },
    "db_selected": <SELECTED DB CONNECTION>,
    "dbs": {
        <DATABASE CONNECTION NAME>: {
            "PROTOCOL": <DATABASE PROTOCOL TO BE USED>,
            "USER" : <YOUR DATABASE USERNAME>,
            "PASS" : <YOUR DATABASE PASSWORD>,
            "HOST" : <YOUR HOSTNAME OR HOST IP ADDRESS>,
            "PORT" : "<CONNECTION PORT",
            "DATABASE" : <DATABASE NAME>
        },
        <DATABASE CONNECTION NAME>: {
            "PROTOCOL": <DATABASE PROTOCOL TO BE USED>,
            "USER" : <YOUR DATABASE USERNAME>,
            "PASS" : <YOUR DATABASE PASSWORD>,
            "HOST" : <YOUR HOSTNAME OR HOST IP ADDRESS>,
            "PORT" : "<CONNECTION PORT",
            "DATABASE" : <DATABASE NAME>
        },
        <DATABASE CONNECTION NAME>: {
            "PROTOCOL": <DATABASE PROTOCOL TO BE USED>,
            "USER" : <YOUR DATABASE USERNAME>,
            "PASS" : <YOUR DATABASE PASSWORD>,
            "HOST" : <YOUR HOSTNAME OR HOST IP ADDRESS>,
            "PORT" : "<CONNECTION PORT",
            "DATABASE" : <DATABASE NAME>
        }
    },
    "debug": <BOOLEAN THAT IDENTIFIES IF CONSOLE LOGS SHOULD BE SHOWN>
}
